input {
    width: 100%;
}

.complete {
    background-color: lightgreen;
}

.incomplete {
    background-color: lightgray;
}

#addItemButton {
    float: right;
}

.rowClass {
    border-radius: 8px;
}

.table-curved tr {
    border-radius: 10px;
}

.low {
    background-color: yellow;
}

.medium {
    background-color: orange;
}

.high {
    background-color: red;
}