input {
    width: 100%;
}

.complete {
    background-color: lightgray;
}

.incomplete {
    background-color: lightgray;
}

#addItemButton {
    float: right;
}

.rowClass {
    border-radius: 8px;
}

.table-curved {
    border-radius: 10px;
}

.markComplete {
    background-color: lightgray;
    color: black;
    border-color: darkgray;
}

.markComplete:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

.markIncomplete {
    background-color: lightslategray;
    color: white;
    border-color: darkgray;
}

.markIncomplete:hover {
    background-color: darkgray;
    color: white;
    border-color: darkgray;
}

.low {
    background-color: lightyellow;
}

.medium {
    background-color: lightsalmon;
}

.high {
    background-color: lightcoral;
}

#importanceInputs {
    display: block;
}